<div class="wrapper">
  <mat-card>
    Vote has been cast successfully. <br>
    You will be able to verify your vote after election ends. <br>
    <strong>Important Instructions!</strong>
    <ul>
      <li>Keep your receipt safe for verification of your vote</li>
      <li>It could take upto a day to see your username on blockchain but your transaction receipt will be up within 15 minutes</li>
      <li>Votes can be decrypted after the election ends. So stay tuned for the password</li>
    </ul>
    <span style="color: red">You may close this window now</span>
  </mat-card>
</div>